<h2>Welcome</h2>

{{#if session.isAuthenticated}}
  Welcome {{ session.name }}<br>
  Email: {{ session.email }}<br>
  <div class='row'>
	  <div class="col-md-6">
	    {{#linkTo "trips" classNames="btn btn-primary pull-left"}}My Trips{{/linkTo}}
	  </div>
  </div>
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  <a {{ action 'authenticateSession' }}>Login</a>
{{/if}}

<hr>

<h3>Trips</h3>

<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://maps.googleapis.com/maps/api/staticmap?center=Nantes+France&zoom=5&size=64x64&sensor=false" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Journey to the Center of the Earth</h4>
      Date: 8 February 1828<br>
      User: Jules Verne
    </div>
  </li>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://maps.googleapis.com/maps/api/staticmap?center=Paris+France&zoom=5&size=64x64&sensor=false" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Voyage au centre de la Terre</h4>
      Date: 8 February 1828<br>
      User: Jules Verne
    </div>
  </li>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://maps.googleapis.com/maps/api/staticmap?center=Bombay+India&zoom=4&size=64x64&sensor=false" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Around the World in Eighty Days</h4>
      Date: 8 February 1828<br>
      User: Jules Verne
    </div>
  </li>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://maps.googleapis.com/maps/api/staticmap?center=Winnipeg+MB&zoom=5&size=64x64&sensor=false" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Twenty Thousand Leagues Under the Sea</h4>
      Date: 8 February 1828<br>
      User: Jules Verne
    </div>
  </li>
</ul>