<h2>Welcome</h2>

{{#if session.isAuthenticated}}
  Welcome {{ session.name }}<br>
  Email: {{ session.email }}<br>
  <a {{ action 'invalidateSession' }}><buttonclass="btn btn-primary"><i class="fa fa-sign-out"></i> Logout</button></a>
{{else}}
  <a {{ action 'authenticateSession' }}><buttonclass="btn btn-primary"><i class="fa fa-sign-in"></i>Login</button></a>
{{/if}}

<div class='row'>
    <div class="col-md-6">
      {{#linkTo "trips" classNames="btn btn-primary pull-left"}}All Trips{{/linkTo}}
      <br>
      {{#linkTo "new_trip" classNames="btn btn-primary pull-left"}}Create New Trip{{/linkTo}}
    </div>
  </div>

<img src='http://maps.googleapis.com/maps/api/staticmap?size=512x256&maptype=roadmap\&markers=size:mid%7Ccolor:red%7CSan+Francisco,CA%7CIceland%7CParis,France%7CLondon%7CWinnipeg&path=color:0x0000ff%7Cweight:5%7CParis,France%7CLondon%7CIceland%7CWinnipeg%7CSan+Francisco&size=512x512&sensor=false&sensor=false' alt='sampe map'>
