<h2>Welcome</h2>

{{#if session.isAuthenticated}}
  Welcome {{ session.name }}<br>
  Email: {{ session.email }}<br>
  <div class='row'>
	  <div class="col-md-6">
	    {{#linkTo "trips" classNames="btn btn-primary pull-left"}}My Trips{{/linkTo}}
	  </div>
  </div>
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  <a {{ action 'authenticateSession' }}>Login</a>
{{/if}}

