<div id="trip" class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h2>{{ name }}</h2>
    {{#linkTo "edit_trip" model classNames='btn btn-default btn-small'}}Edit{{/linkTo}}
    <button class='btn btn-default btn-small' {{action "destroy"}}>Delete</button>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <img class='placeholder' src="http://placehold.it/300&text=Calendar">
    <img class='placeholder' src="http://placehold.it/300&text=Map">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h1 class="text-center"><small>Itinerary</small></h1>
    <ul class='items'>
      {{#each item in itinerary}}
        <li>
          <strong>Title: "{{item.title}}"</strong>
          <button class='btn btn-info' {{action 'openModal' 'trip_item' item}}>
            Edit
          </button>
        </li>
      {{else}}
        <li>nope</li>
      {{/each}}
    </ul>
  </div>
</div>
