<div id="trip" class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h2>{{ name }}</h2>
    {{#linkTo "edit_trip" model classNames='btn btn-default btn-small'}}Edit{{/linkTo}}
    <button class='btn btn-default btn-small' {{action "destroy"}}>Delete</button>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <img class='placeholder' src="http://placehold.it/300&text=Calendar">
    <img class='placeholder' src="http://placehold.it/300&text=Map">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h1 class="text-center">
      <small class='itinerary-header'>Itinerary</small>
      <button class='btn btn-primary btn-sm pull-right' {{action 'openModal' 'item'}}>
        Add item
        <i class='glyphicon glyphicon-plus'></i>
      </button>
    </h1>
    <ul class="media-list">
      {{#each item in itinerary}}
        <li class="media">
          <strong>Title: "{{item.title}}"</strong>
          <button class='pull-right btn btn-info btn-xs' {{action 'openModal' 'item' item}}>
            Edit Trip
            <span class='glyphicon glyphicon-edit'></span>
          </button>
		  <div class="media-body">
            Location: {{ item.locationName }}<br>
            At: {{ item.scheduledAt }}<br>
            Description: {{ item.description }}
          </div>
        </li>
      {{else}}
        <li>nope</li>
      {{/each}}
    </ul>
  </div>
</div>
