{{#linkTo "trips"}}← All Trips{{/linkTo}}

<h2>{{ name }}</h2>

{{makeMapLarge location}}

<p>
  <b> id:</b> {{ id }}<br>
  <b> user:</b> {{ user }}<br>
  <b> date:</b> {{ date }}<br>
  <b> location:</b> {{ location }}<br>
</p>

{{#linkTo "edit_trip" model}}Edit{{/linkTo}}
|
<a href="#" {{action "destroy"}}>Destroy</a>
