{{#linkTo "trips"}}<i class="fa fa-long-arrow-left"></i>All Trips{{/linkTo}}
 
<div id="trip" class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h2>{{ name }}</h2>
    {{#linkTo "edit_trip" model classNames='btn btn-info btn-small'}}<i class="fa fa-edit"></i>Edit{{/linkTo}}
    <button class='btn btn-danger btn-small' {{action "destroy"}}><i class="fa fa-minus-circle"></i>Delete</button>
    
    <div style="margin-top: 15px;">
    	<h1 class="text-center"><small>Packing List</small></h1>
	    <ul class='items'>
	      {{#each item in model.packingItems}}
	        <li><div style="display: inline-block; width: 250px;">{{item.name}}</div><div style="display: inline-block;"><a style="cursor: pointer; color: red;" {{action "deletePackingItem" item}}>X</a></div></li>
        {{else}}
          <li style="font-style: italic;">(None)</li>
        {{/each}}
	    </ul>
      
      <form>
      
      	New Item: <input type="text" id="itemName" name="itemName" style="width: 250px; margin-right: 3px;" /><button classNames="btn btn-info"{{action "addPackingItem"}}>+</button>
        
      </form>
      
      
    </div>
    
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    {{makeMapLarge location}}
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h1 class="text-center">
      <small class='itinerary-header'>Itinerary</small>
      <button class='btn btn-primary btn-sm pull-right' {{action 'openModal' 'item' id}}>
        Add item
        <i class='glyphicon glyphicon-plus'></i>
      </button>
    </h1>
    <ul class="media-list">
      {{#each item in itinerary}}
        <li class="media">
          <strong>Title: "{{item.title}}"</strong>
          <button class='pull-right btn btn-info btn-xs' {{action 'openModal' 'item' id item}}>
            Edit Trip
            <span class='glyphicon glyphicon-edit'></span>
          </button>
		  <div class="media-body">
            Location: {{ item.location_name }}<br>
            At: {{ item.scheduled_at }}<br>
            Description: {{ item.description }}
          </div>
        </li>
      {{else}}
        <li>There are no itinerary items for this trip.</li>
      {{/each}}
    </ul>
  </div>
</div>

